name: pytest

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Create Environment and run tests
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m venv env
          source env/bin/activate
          pip install -r requirements.txt
          pytest \
            --junitxml=pytest.xml \
            tests/
